html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    border: none;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.panel-container,
.panel {
    border: 0;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: left 0.5s linear, top 0.5s linear;
    width: 100%;
}

.panel-container {
    transition: none;
}
.panel-container.toolbar {
    height: calc(100% - 24px);
    top: 30px;
}

.panel.active {
    left: 0 !important;
    top: 0 !important;
}

.panel.center.bottom {
    top: -100%;
}
.panel.center.left {
    left: 100%;
}
.panel.center.right {
    left: -100%;
}
.panel.center.top {
    top: 100%;
}

.panel.bottom {
    top: 100%;
}
.panel.left {
    left: -100%;
}
.panel.right {
    left: 100%;
}
.panel.top {
    top: -100%;
}

.panel iframe.app-frame {
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.panel iframe.app-frame.active {
    display: block;
}

ul.toolbar {
    background-color: gainsboro;
    color: black;
    display: block;
    height: 30px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}
ul.toolbar li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    margin-right: 2px;
    padding: 5px;
}
ul.toolbar li:first-child {
    margin-left: 10px;
}
ul.toolbar li:hover {
    background-color: darkgray;
}